{
    "family": "<PROJECT>-webserver", 
    "networkMode": "awsvpc",
    "executionRoleArn": "arn:aws:iam::<ACCOUNT>:role/ecsTaskExecutionRole",
    "containerDefinitions": [
        {
            "name": "<PROJECT>-webserver", 
            "image": "<REPOSITORY_URI>:latest", 
            "portMappings": [
                {
                    "containerPort": 80, 
                    "hostPort": 80, 
                    "protocol": "tcp"
                }
            ], 
            "essential": true,
            "logConfiguration":
                {
                "logDriver": "awslogs",
                "options":
                    {
                    "awslogs-group": "/ecs/<PROJECT>-webserver",
                    "awslogs-region": "eu-west-2",
                    "awslogs-stream-prefix": "ecs"
                    }
                },
            "environment": [
                {
                    "name": "ENVIRONMENT",
                    "value": "production"
                }
            ]
         }
    ], 
    "requiresCompatibilities": [
        "FARGATE"
    ], 
    "cpu": "256", 
    "memory": "512"
}
