*.data
codeBuild/laravel-project.json
codePipeline/create-pipeline.json
codePipeline/create-role-policy.json
ecs/tasks/app-task.json
ecs/tasks/db-task.json
ecs/tasks/webserver-task.json
codeBuild/project.json
ecs/services/create-app-service.json
ecs/services/create-db-service.json
ecs/services/create-webserver-service.json
