*.data
codeBuild/laravel-project.json
codePipeline/create-pipeline.json
codePipeline/create-role-policy.json
ecs/tasks/app-task.json
ecs/tasks/db-task.json
ecs/tasks/webserver-task.json
codeBuild/project.json
