{
  "pipeline": {
    "roleArn": "arn:aws:iam::<ACCOUNT>:role/CodePipelineServiceRole",
    "stages": [
      {
        "name": "Source",
        "actions": [
          {
            "inputArtifacts": [],
            "name": "Source",
            "actionTypeId": {
              "category": "Source",
              "owner": "AWS",
              "version": "1",
              "provider": "CodeStarSourceConnection"
            },
            "outputArtifacts": [
              {
                "name": "SourceArtifact"
              }
            ],
            "configuration": {
              "ConnectionArn": "<CONNECTIONARN>",
              "FullRepositoryId": "matthew-dawson/<PROJECT>-quickstart-basic",
              "BranchName": "master",
              "OutputArtifactFormat": "CODE_ZIP"
            },
            "runOrder": 1
          }
        ]
      },
      {
        "name": "Build",
        "actions": [
          {
            "inputArtifacts": [
              {
                "name": "SourceArtifact"
              }
            ],
            "name": "Build",
            "actionTypeId": {
              "category": "Build",
              "owner": "AWS",
              "version": "1",
              "provider": "CodeBuild"
            },
            "outputArtifacts": [
              {
                "name": "default"
              }
            ],
            "configuration": {
              "ProjectName": "<PROJECT>"
            },
            "runOrder": 1
          }
        ]
      }
    ],
    "artifactStore": {
      "type": "S3",
      "location": "codepipeline-eu-west-2-<PROJECT>"
    },
    "name": "<PROJECT>",
    "version": 1
  }
}
