{
    "cluster": "<CLUSTERNAME>",
    "serviceName": "<SERVICENAME>",
    "taskDefinition": "<TASKDEFINITION>",
    "loadBalancers": [
        {
            "targetGroupArn": "<TARGETGROUPARN>",
            "containerName": "<CONTAINERNAME>",
            "containerPort": 80
        }
    ],
    "serviceRegistries": [
        {
            "registryArn": "<REGISTRY_ARN>",
            "port": 80,
            "containerName": "webserver",
            "containerPort": 80
        }
    ],
    "launchType": "FARGATE",
    "schedulingStrategy": "REPLICA",
    "deploymentController": {
        "type": "CODE_DEPLOY"
    },
    "platformVersion": "1.4.0",
    "networkConfiguration": {
        "awsvpcConfiguration": {
            "assignPublicIp": "ENABLED",
            "securityGroups": [
                "<SECURITYGROUPID>"
            ],
            "subnets": [
                "<SUBNETID0>",
                "<SUBNETID1>"
            ]
      }
    },
    "desiredCount": 1
}
